#contact-page{
  background-color: $white !important;
  #contact{
    background-image: url('/assets/img/png/bg-mountain.png');
    background-size: cover;
    padding-top: 0 !important;
    padding-bottom: 220px !important;
    margin-bottom: -220px;
    background-position: top center;
    

  }
  .footer{
    background-color: transparent;
  }

}