// Fonts

$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

// Colors
$white: #fff;
$footer-bg: #2d343c;
$ligth-blue: #f0f5fd;
$cloudy: #dbe9ff;
$main: #0069c6;
$dark: #000;
$grey: #858c95;
$black: #131b22;
$red: #ff0000;
$really-ligth-gray: #f8f9fb;

// Media
$tablet: 959px;
$mobile: 400px;
